<h1><%= t("reset_password").capitalize%></h1>
<p><%=t("to_reset_your_password_click_the_link_below").capitalize%></p>
<%= link_to t("reset_password").capitalize, edit_password_reset_url(id: @user.reset_token,
                                                      email: @user.email) %>
<p><%= t("this_link_will_expire_in_two_hours").capitalize%></p>
<p>
  <%=t("password_reset_content")%>
</p>
